*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

main{
    background-color: rgb(27, 7, 7);
    width: 20%;
    margin-left: 40%;
    margin-top: 130px;
    height: 500px;
}

.message-div{
    background-color: rgb(36, 131, 131);
    height: 90%;
    width: 100%;
    border-radius: 10px;
    max-height: 90%;
    overflow: auto;
}

.input{
    width: 78%;
    height: 100%;
    border-radius: 10px;
    border: solid 1px black;
    font-size: 20px;

}

.send-btn{
    background-color: azure;
    width:  20%;
    margin-left: 2%;
    height: 100%;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
}

.send-img{
    /* background-color: red; */
    width:  90%;
    height: 80%;

}

.btn-div{
    background-color: rgb(18, 50, 50);
    position: relative;
    margin-top: 1%;
    height: 45px;
    display: flex;
    font-size: 50px;
}

.message{
    background-color: red;
    width: 85%;
    height: 5%;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
}